.static-layout {
  width: 20%;
}

.options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.opt {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  color: black;
  font-family: Poppins;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.opt:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Dark Mode */
.dark-mode .opt {
  color: #ffffff;
}

.dark-mode .opt:hover {
  background-color: #3d3d3d;
}

/* Responsive */
@media (max-width: 1200px) {
  .static-layout {
    width: 90%;
    height: auto;
  }
  .options {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    margin-left: 10px;
  }
  .opt{
    flex-direction: column;
  }
  .opt p {
    margin: 0px;
  }
}

@media (max-width: 500px) {
  .opt {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: black;
    font-family: Poppins;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
  }
}

