/* Resume Section Styles */
.resume {
  width: 100%;
  height: 1000px;
}

.section-heading {
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  color: grey;
}

.resume-container {
  width: 80%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

/* Responsive */
@media (max-width: 1200px) {
  .resume-container {
    width: 90%;
    margin-left: 15px;
  }
}

@media (max-width: 500px) {
  .resume {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  .resume-container {
    width: 100%;
    height: 600px;
    margin-left: 0;
    padding: 0;
  }
  .resume-container iframe {
    height: 600px;
  }
}



